@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIBold";
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUILight";
    src: url("../fonts/SegoeUILight/SegoeUILight.eot");
    src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
    url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUISemiBold";
    src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
    src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
    url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* My custom reset */
html, body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

input,
textarea {
    outline:  none;
}

a {
    text-decoration: none;
}

/* General style classes */ 
.section_title {
    color: #fff;
    font-weight: 300;
    font-size: 1.875rem;
}

.container {
    width: 72.5%;
    margin: 0 auto;
}

body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

/* Header */
header {
    background: url('../images/header_bg.jpg') no-repeat 0 0;
}

.top_header {
    background-color: #475159;
    opacity: 0.85;
    padding: 53px 0;
    display: flex;
    align-items: center;
}

.top_header .header_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.top_header .logo_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.top_header .logo_container img.logo {
    height: 25px;
}

.top_header .logo_container .hamburger_menu {
    width: 36px;
    height: 40px;
    font-size: 40px;
    display: none;
    color: white;
    line-height: 40px;
    align-self: stretch;
    outline: none;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.top_header .logo_container .hamburger_menu:hover {
    color: #4bcaff;
} 



.top_header .menu {
    display: flex;
    justify-content: space-between;
}

.top_header ul li {
    margin-right: 5px;
}

.top_header ul li:last-child {
    margin-right: 0;
}

.top_header ul li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875rem;
    border: 2px solid transparent;
    padding: 10px 18px;
    line-height: 45px;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.top_header ul li a:hover,
.top_header ul li a.active {
    color: #4bcaff;
    border-color: #4bcaff;
}

.top_header ul li a:hover {
    outline: none;
    -webkit-animation: borderColors .4s steps(3) forwards;
        animation: borderColors .4s steps(3) forwards;
}

/* Menu items animation */
@keyframes borderColors {
    0% {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    33% {
      border-top-color: #4bcaff;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    66% {
      border-top-color: #4bcaff;
      border-right-color: #4bcaff;
      border-bottom-color: transparent;
      border-left-color: #4bcaff;
    }
    100% {
      border-top-color: #4bcaff;
      border-right-color: #4bcaff;
      border-bottom-color: #4bcaff;
      border-left-color: #4bcaff;
    }
}

.bottom_header {
    padding: 250px 75px;
}

.bottom_header h1 {
    margin: auto;
    text-align: center;
    font-size: 2.625rem;
    line-height: 75px;
    color: #fff;
    font-weight: 300;
}

.bottom_header h1 span {
    background-color: #39444c;
    margin: 0;
    padding: 0 18px;
    opacity: .75;
}