@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    content: "";
    clear: both;
    display: table;   
}

body {
    margin: 0px 0px;
    padding: 0px 0px;
}

a {
    text-decoration: none;
}

.header {
    height: 600px;
    width: 100%;
    background-image: url("images/eagle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header p {
    width: 5%;
    float: left;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 11.25%;
}

nav {
    height: 50px;
    width: 420px;
    display: inline-block;
    margin-left: 35.625%;
    margin-right: 0px;
}

nav ul {
    height: 50px;
    width: 100%;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    text-transform: uppercase;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    
}

nav ul li {
    float: left;
    margin: 15px 15px;
    height: 30px;
}

nav ul li a {
    color: white;
}

nav ul li a:hover,
p.icon:hover {
    color:burlywood;
}

.icons {
    width: 13.94%;
    float: right;
    margin-right: 89px;
}

p.icon {
    width: 50px;
    float: left;
    text-align: center;
    margin-left: 0px;
    cursor: pointer;
}

p.fantastic_font {
    width: 400px;
    margin: 0 auto;
    font-family: 'Kaushan Script', cursive;
    font-size: 45px;
    float: none;
    text-align: center;
    margin-top: 80px;
}

p.invitation {
    width: 600px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 65px;
    margin: 0 auto;
    float: none;
    text-align: center;
}

p.line {
    width: 100px;
    font-weight: bold;
    text-align: center;
    float: none;
    margin: 0 auto;
}

.header button {
    display: block;
    outline: none;
    width: 160px;
    height: 35px;
    border: 3px solid white;
    background: transparent;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    color: white;
    cursor: pointer;
}

.header button:hover {
    background: lightcoral;
}

.header .anchors {
    height: 120px;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}

.header .anchors .anchor {
    height: 60px;
    width: 180px;
    float: left;
    margin: 0px;
    margin-left: 12.5px;
}

.header .anchors .anchor .lines {
    width: 100%;
} 

.header .anchors .anchor .numbers {
    width: 30%;
}

.header .anchors .anchor .text span {
    width: 70%;
    display: inline-block;
    font-size: 12px;
    margin-top: 7px;
}


.header .anchors .anchor .lines,
.header .anchors .anchor .numbers,
.header .anchors .anchor .text {
    margin: 0px;
}

.story {
    height: 650px;
}

.story p.fantastic_font2,
.services p.fantastic_font2,
.design p.fantastic_font2,
.service p.fantastic_font2,
.team p.fantastic_font2,
.work p.fantastic_font2,
.clients p.fantastic_font2, 
.blog p.fantastic_font2 {
    width: 1100px;
    margin: 0 auto;
    margin-top: 90px;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    text-align: center;
}

.story p.big_font,
.services p.big_font,
.design p.big_font,
.service p.big_font,
.team p.big_font,
.work p.big_font,
.clients p.big_font,
.blog p.big_font {
    width: 300px;
    margin: 0 auto;
    margin-top: 25px;
    font-family: "Roboto", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: darkslategray;
    text-align: center;
}

.story p.line,
.services p.line,
.design p.line,
.service p.line,
.team p.line,
.work p.line,
.clients p.line,
.blog p.line {
    width: 70px;
    color: red;
    font-size: 30px;
}

.story p.paragraph,
.service p.paragraph,
.team p.paragraph,
.work p.paragraph {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 960px;
    height: 45px;
    color: gainsboro;
    text-align: center;
}

.story .images,
.team .images {
    height: 270px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.story .images img.shadowed,
.team .images img.shadowed {
    margin-bottom: 20px;
    margin-right: 15px;
    box-shadow: 8px 8px lightblue;
}

.story .images img.image,
.team .images img.image {
    padding: 8px;
}

#topBtn {
    display: none;
    position: fixed;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 20px;
    width: 150px;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightblue;
    opacity: 0.7;
    color: red;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;         
}

.counters {
    height: 270px;
    background-color: lightblue;
}

.counters .my_counters {
    width: 1210px;
    height: 270px;
    margin: 0 auto;
}

.counters .my_counters .counter {
    width: 240px;
    height: 270px;
    float: left;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.counters .my_counters .counter .numbers,
.counters .my_counters .counter .text {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

.counters .my_counters .counter .numbers {
    font-size: 100px;
    margin-top: 55px;
    opacity: 0;
}

/*.trans {
    -webkit-transition: 0.5s;
       -moz-transition: 0.5s;
        -ms-transition: 0.5s;
         -o-transition: 0.5s;
            transition: 0.5s;
}
*/
.counters .my_counters .counter .text {
    font-size: 15px;
    margin-top: 10px;
}

.services {
    height: 600px;
}

.services .top_row,
.services .bottom_row {
     height: 130px;
     width: 1150px;
     margin: 0 auto;
     margin-top: 50px;
     border-bottom: 1px solid darkgray;
 }

 .services .bottom_row {
     border-bottom: none;
 }

.services .top_row .top_article,
.services .bottom_row .bottom_article {
    width: 380px;
    height: 130px;
    float: left;
 }

.services .top_row .material-icons:hover,
.services .top_row .fa:hover,
.services .bottom_row .fa:hover {
    color: #37B09D;
}

.services .top_row .top_article i,
.services .bottom_row .bottom_article i,
.service .listing i,
.for_comment .fa-comments,
.for_comment .fa-comments-o,
.for_comment .fa-commenting {
    float: left;
    font-size: 48px;
    color: lightblue;
 }

 .service .listing i:hover {
    color: #37B09D;
 }

.services .top_row .top_article .title,
.services .top_row .top_article .text,
.services .bottom_row .bottom_article .title,
.services .bottom_row .bottom_article .text,
.service .photography .listing .title {
    float: left;
    font-family: "Roboto", Arial, sans-serif;
    margin-left: 10px;
}

.services .top_row .top_article .title,
.services .bottom_row .bottom_article .title,
.service .photography .listing .title {
    width: 130px;
    font-weight: 500;
}

.services .top_row .top_article .text,
.services .bottom_row .bottom_article .text {
    width: 300px;
    margin-top: 10px;
    color: darkgray;
}

.design {
    width: 100%;
    height: 850px;
    background-image: url("images/landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.telephones {
    width: 530px;
    height: 510px;
    position: relative;
    margin: 0 auto;
    margin-top: 125px;
}

.design img.telephone_1 {
    width: 410px;
    height: 510px;
}

.design img.telephone_2 {
    width: 170px;
    height: 380px;
    position: absolute;
    margin-top: 155px;
    right: 20px;
}

.service {
    width: 100%;
    height: 850px;
}

.service p.paragraph {
    color: lightgrey;
}

.photography {
    width: 1200px;
    height: 380px;
    margin: 0 auto;
    margin-top: 90px;
}

.wall {
    float: left;
}

.listing {
    width: 610px;
    height: 55px;
    border: 1px solid grey;
    float: left;
    margin-left: 14px;
    margin-bottom: 7px;
}

.listing:last-child {
    margin-bottom: 0;
}

.new_icon {
    width: 48px;
    margin: 5px 8px;
}

.service .photography .listing .title {
    width: 490px;
    text-transform: uppercase;
    line-height: 57px;
}

.service .photography .listing i.fa-chevron-down,
.service .photography .listing i.fa-chevron-up,
.for_comment .fa-chevron-left,
.for_comment .fa-chevron-right,
.for_comment_2 .fa-chevron-left,
.for_comment_2 .fa-chevron-right {
    position: absolute;
    color: silver;
    font-size: 20px;
    line-height: 50px;
    margin: 5px 8px;
    cursor: pointer;
}

.service .photography .listing i.fa-chevron-down:hover,
.service .photography .listing i.fa-chevron-up:hover,
.for_comment .fa-chevron-left:hover,
.for_comment .fa-chevron-right:hover {
    color: #867E7E;
}

.service .content {
    width: 585px;
    margin: 70px 10px 45px 10px;
    font-family: "Roboto", Arial, sans-serif;
    text-align: justify;
    color: darkgray;
}

.unvisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.for_comment,
.team .brands {
    position: relative;
    width: 100%;
    max-height: 180px;
    background-color: whitesmoke;
}

.for_comment .comments {
    width: 710px;
    height: 140px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
}

.for_comment .comment {
    display: block;
    width: 710px;
    height: 140px;
    
}

.for_comment .fa-chevron-left,
.for_comment_2 .fa-chevron-left {
    position: absolute;
    left: 390px;
    top: 40px;
    margin: 22px 10px;
    float: left;
    cursor: pointer;
}

.comment .fa {
    font-size: 60px;
    padding: 19px;
    margin: 0 30px;
    border: 2px solid lightblue;
}

.comment .fa:hover {
    color: #37B09D;
    border-color: #37B09D;
}

.for_comment .comment .paragraph,
.for_comment_2 .comment .paragraph,
.for_comment_3 .comment_2 .paragraph {
    width: 525px;
    font-family: "Roboto", Arial, sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    color: silver;
    float: left;
}

.for_comment .comment p.line,
.for_comment_2 .comment p.line {
    width: 45px;
    height: 20px;
    float: left;
    color: red;
    font-weight: bold;
}

.for_comment .comment p.fantastic,
.for_comment_2 .comment p.fantastic {
    width: 100px;
    height: 20px;
    float: left;
    margin-left: 10px;
    font-family: 'Kaushan Script', cursive;
}

.for_comment .fa-chevron-right {
    position: absolute;
    right: 390px;
    top: 40px;
    margin: 22px 10px;
    cursor: pointer;
}

.team .images {
    width: 1210px;
    height: 540px;
    text-align: center;
    margin-bottom: 100px;
}

.team .images .image_1,
.team .images .image_2,
.team .images .image_3 {
    width: 400px;
    height: 540px;
    position: relative;
    float: left;
}

.team .images p.name,
.team .images p.profession {
    width: 360px;
    height: 20px;
    position: absolute;
    bottom: 0;
}

.team .images p.name,
.clients .for_comment_3 .comment_2 p.name {
    font-family: 'Montserrat', sans-serif;
    bottom: 30px;
}

.team .images p.profession,
.clients .for_comment_3 .comment_2 p.profession {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    bottom: 5px;
}

.team .brands {
    text-align: center;
}

.team .brands .brand {
    padding: 35px;
}

.work {
    overflow: hidden;
}

.work .gallery_1 {
    width: 50%;
    height: 780px;
    overflow: hidden;
    float: left;
}

.work .gallery_1 img,
.work .gallery_3 img {
    height: 390px;
    float: left;
}

.work .gallery_2 {
    width: 25%;
    height: 780px;
    float: left;
}

.work .gallery_2 img {
    height: 100%;
}

.work .gallery_1 img,
.work .gallery_2 img,
.work .gallery_3 img {
    width: 100%;
}

.work .gallery_3 {
    width: 25%;
    height: 780px;
    overflow: hidden;
}

/* SVG animation */
.col {
    overflow: hidden;
    position: relative;
}

col_stratch_2 {
    width: 100%;
}

.col_stratch {
    height: 780px;
}
  
.slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 
      Visibility delay gives the previously hovered element time to slide out before disappearing.
      Remove the `visibility` transition to slide in current element without sliding out previous element
    */
    -webkit-transition: all 0.275s ease-in-out, visibility 0s 0.275s;
    transition: all 0.275s ease-in-out, visibility 0s 0.275s;
    visibility: hidden;
    will-change: transform;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
}
  
.row:hover ~ .row .slide {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}

.row:hover .slide {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}

.row:hover .col:hover ~ .col .slide {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}

.row:hover .col:hover .slide {
    -webkit-transform: none;
            transform: none;
    visibility: visible;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
  
.col {
    color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-height: 260px;
    position: relative;
}

.col:nth-child(2) {
    min-width: 20%;
}
  
  .col:nth-child(4) {
    min-width: 33%;
}
  
  .col:nth-child(3) + .col:nth-child(3) {
    min-width: 50%;
}
  
.slide {
    background: rgba(25, 1, 21, 0.8);
    padding: 0 1.5rem;
}

.slide p {
    display: table;
    vertical-align: middle;
    margin: 20% 10%;
    text-align: justify;
    font-family: "Roboto", Arial, sans-serif;
    
}
/* End of SVG animation styles */

.for_comment_2 {
    position: relative;
    width: 100%;
    max-height: 300px;
}

.for_comment_2 .comment__2 {
    width: 1000px;
    height: 270px;
    overflow: hidden;
    margin: 0 auto;
}

.for_comment_2 .fa-arrow-right,
.for_comment_2 .fa-arrow-left {
    position: absolute;
    margin: 70px 10px;
    top: 55px;
    cursor: pointer;
    color: silver;
}

.for_comment_2 .fa-arrow-right:hover,
.for_comment_2 .fa-arrow-left:hover {
    color: #867E7E;
}

.for_comment_2 .fa-arrow-left {
    left: 250px;
}

.for_comment_2 .fa-arrow-right {
    right: 250px;
}


.for_comment_2 .comment {
    width: 1000px;
    height: 200px;
    margin: 50px auto;
}

.for_comment_2 .comment img {
    width: 190px;
    height: 190px;
    padding: 2px;
    margin: 0 30px;
    float: left;
}

.for_comment_2 .fa-arrow-left,
.for_comment_2 .fa-arrow-right {
    margin: 70px 10px;
}

.for_comment_2 .comment p.paragraph {
    width: 710px;
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
}

.for_comment_2 .comment p.line {
    font-weight: 900;
    font-size: 25px;
    margin-top: 20px;
}

.for_comment_2 .comment p.fantastic {
    width: 130px;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 25px;
}

.clients {
    width: 100%;
    height: 900px;
    background-image: url("images/mountain.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.clients .for_comment_3 {
    width: 1080px;
    height: 415px;
    margin: 0 auto;
    margin-top: 80px;
}

.clients .for_comment_3 .comment_2 {
    width: 538px;
    height: 200px;
    float: left;
}

.clients .for_comment_3 .comment_2 img {
    float: left;
    margin-right: 20px;
}

.clients .for_comment_3 .comment_2 p.name {
    margin: 10px;
    color: darkslategrey;
}

.clients .for_comment_3 .comment_2 p.line {
    width: 85px;
    margin-left: 125px;
    height: 20px;
    text-align: left;
}

.clients .for_comment_3 .comment_2 p.paragraph {
    width: 315px;
    margin-left: 130px;
}

.blog {
    width: 100%;
}

.blog .topics {
    width: 1210px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.blog .topics .topic {
    width: 390px;
    height: 400px;
    margin-right: 20px;
    position: relative;
    float:left;
}

.blog .topics .topic:last-child {
    margin-right: 0;
}

.blog .topics .topic img {
    float: right;
}

.blog .topics .topic .date {
    width: 70px;
    height: 80px;
    background: #9EDEF3;
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 145px;
}

.blog .topics .topic .date p {
    width: 60px;
    height: 55px;
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: -5px;
}

.blog .topics .topic .date span,
.blog .topics .topic span {
    color: white;
    display: block;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
}

.blog .topics .topic p.name {
    height: 20px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
    margin-left: 8px;
    color: darkslategrey;
    float: left;
}

.blog .topics .topic p.paragraph {
    height: 50px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 8px;
    margin-bottom: 15px;
    color: silver;
    border-bottom: 1px solid silver;
}

.blog .topics .topic i {
    color: #9EDEF3; 
    font-size: 20px;
    margin-left: 20px;
    line-height: 45px;
    cursor: pointer;
}

.blog .topics .topic i:hover {
    color: #37B09D;
}

.blog .topics .topic span {
    display: inline-block;
    color: silver;
}

.blog .map {
    width: 100%;
    height: 200px;
    padding-top: 100px;
    background-image: url("images/mountain2.jpg");
    background-size: 100% 66%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    text-align: center;
}

.blog .map i {
    font-size: 40px;
    margin-top: 40px;
    color: lightcoral;
    cursor: pointer;
}

.blog .map p {
    color: lightcoral;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.blog .map i:hover,
.blog .map p:hover {
    color: #DC3E3E;
}

.blog .map p.line {
    height: 20px;
    width: 100px;
    margin-top: 0px;
}

footer {
    width: 100%;
    height: 520px;
}

footer .sections {
    width: 1200px;
    height: 445px;
    margin: 0 auto;
    margin-top: 60px;
}

footer .sections .mogo_section {
    width: 545px;
    height: 445px;
    float: left;
}

footer .sections .mogo_section .mogo {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: silver;
    margin: 20px;
}

footer .sections .mogo_section p.paragraph,
footer .sections .mogo_section p.followers {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 21px;
    margin-left: 20px;
    margin-bottom: 50px;
    color: silver;
}

footer .sections .mogo_section p.followers {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-bottom: 0;
    padding-bottom: 40px;
    border-bottom: 1px solid silver;
}

footer .sections .mogo_section p.followers span {
    font-size: 25px;
    font-weight: 900;
}

footer .sections .mogo_section p.links {
    text-transform: capitalize;
    margin: 10px 20px;
    font-style: italic;
    color: silver;
}

footer .sections .mogo_section p.links i {
    color: #94e2d5;
    margin-left: 10px;
    font-size: 20px;
}

footer .sections .mogo_section p.links i:hover {
    color: #37B09D;
}

footer .sections .mogo_section input {
    width: 225px;
    height: 30px;
    margin: 10px 0 10px 20px;
    border: 1px solid silver;
    padding: 5px 10px;
    outline: none;
}

footer .sections .mogo_section button {
    width: 165px;
    height: 43px;
    margin-left: -4px;
    background-color: #94e2d5;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    outline: none;
    border-style: inset;
    border: none;
}

footer .sections .mogo_section button:hover {
    background: #37B09D;
}

footer .blog_section {
    width: 350px;
    height: 445px;
    float: left;
    clear: none;
}

footer .blog_section>p,
footer .instagram_section>p {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin: 40px 20px 10px;
    font-weight: bold;
    text-transform: uppercase;
}

footer .blog_section .blog_section_1,
footer .blog_section .blog_section_2,
footer .blog_section .blog_section_3 {
    margin-top: 27px;
    margin-left: 20px;
    height: 85px;
}

footer .blog_section .blog_section_1 img,
footer .blog_section .blog_section_2 img,
footer .blog_section .blog_section_3 img {
    float: left;
}

footer .blog_section .blog_section_1 .title,
footer .blog_section .blog_section_2 .title,
footer .blog_section .blog_section_3 .title {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding-top: 15px;
    margin-left: 130px;
}

footer .blog_section .blog_section_1 .date,
footer .blog_section .blog_section_2 .date,
footer .blog_section .blog_section_3 .date {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 130px;
    margin-top: 10px;
    font-style: italic;
    color: silver;
}

footer .instagram_section {
    width: 300px;
    height: 445px;
    clear: none;
}

footer .instagram_section img {
    margin: 16px;
}

footer .instagram_section .more {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: italic;
    color: silver;
    text-transform: none;
    margin: 5px 20px;
    font-weight: 300;
}

footer .author {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

footer .author p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: darkslategrey;
}

footer .author p span {
    color: lightcoral;
}