
@media screen and (max-width: 1500px) {
    .values_item::after {
        content:"";
        background: none;
    }

    .footer_container_item {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1400px) {
    nav {
        width: 70%;
    }

    nav ul li {
        font-size: 22px;
    }
}

@media screen and (max-width: 1300px) {
    .footer_container {
        width: 90%;
    }
}

@media screen and (max-width: 1260px) {
    .services_fluid_container {
        background-size: 90%, contain;
    }
}

@media screen and (max-width: 1200px) {
    .container,
    .project .container {
        width: 95%;
        margin-left: 10px;
    }

    .trades_fluid_container .trades img {
        width: 40%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1150px) {
    .services_fluid_container {
        width: 95%;
        overflow: hidden;
        background: url(img/sea.jpg) 142% 0% no-repeat;
        background-size: 100% 100%;
    }

    .services_content ul {
        width: 50%;
    }

    .project_fluid_container h2 {
        margin-top: 30px;
    }

    .container p.details {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1050px) {
    .container {
        width: 95%;
        overflow: visible;
    }

    .logo {
        width: 100%;
        float: none;
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }

    .logo span {
       position: static;
       transform: none;
    }

    nav {
        width: 100%;
        float: none;
        margin-top: 10px;
        margin-bottom: 10px; 
    }

    nav ul {
        width: 50%; 
        margin: 0 auto; 
        text-align: center;
    }

    nav ul li {
        display: inline;
        float: none;
    }

    .header_content {
        width: 70%;
    }

    .ready_fluid_container .section_title {
        margin-top: 60px;
    }
}

@media screen and (max-width: 950px) {
    .services_fluid_container {
        height: auto;
    }

    .services_content {
        width: 95%;
        float: none;
        text-align: center;
    }

    .services_content h2,
    .section_title {
        margin-top: 30px;
    }

    .services_content p,
    .services_content ul {
        width: 40%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .project_fluid_container {
        background: none;
    }
}

@media screen and (max-width: 900px) {
    nav {
        height: auto;
    }

    nav ul {
        width: 100%;
    }

    nav ul li {
        display: block;
        margin: 0 auto;
    }

    .services_content p {
        width: 100%;
    }

    .services_content ul {
        width: 60%;
    }

    .footer_container_item {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 750px) {
    .services_item {
        width: 95%;
    }

    .services_item img {
        margin-bottom: 10px;
    }

    .services_item p {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .project .container p,
    .project_item,
    .project_item .project_item_content {
        margin-right: 10px;
    }

    .values_item {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 650px) {
    .bottom_footer .footer_container {
        width: 100%;
        text-align: center;
    }

    .footer_container {
        margin-bottom: 0;
    }

    .bottom_footer .copyright {
        width: 100%;
        float: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bottom_footer .twitter_icon,
    .bottom_footer .facebook_icon,
    .bottom_footer .pinterest_icon,
    .bottom_footer .google_icon {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .footer_container_item span.hashtag {
        padding-top: 45px;
    }
}

@media screen and (max-width: 550px) {
    .project .container p,
    .project_item {
        width: 95%;
    }

    div.client_comment_1 img,
    div.client_comment_2 img {
        float: none;
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .comment_1,
    .comment_2 {
        float: none;
        width: 100%;
    }

    .trades_fluid_container .trades img {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footer_container_item {
        width: 100%;
        margin-right: 0; 
    }

    .footer_container_item span.hashtag {
        padding-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .fluid_container {
        height: auto;
    }

    .header_content {
        width: 95%;
        margin-top: 80px;
    }

    .header_content h1 {
        font-size: 35px;
    }

    .header_content p {
        font-size: 15px;
    }

    .services_content p {
        width: 90%;
    }

    .services_content ul {
        width: 80%;
    }
}

