@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    padding: 0;
}

/* Header */

.container {
    overflow: hidden;
    width: 58.75%;
    margin: 0 auto;
}

.logo {
    width: 20.62%;
    position: relative;
    float: left;
    margin: 45px 0 45px 0;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.logo span {
    position: absolute;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #555555;
    transform: translate(0, 15%);
}

nav {
    width: 50%;
    height: 34px;
    overflow: hidden;
    float: right;
    margin: 45px 0 45px 0;
}

nav ul {
    overflow: hidden;
    -webkit-padding-start: 0px;
}

nav ul li {
    float: left;
    margin-right: 30px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #8d8d8d;
    text-transform: uppercase;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #8d8d8d;
    text-transform: uppercase;
    cursor: pointer;
}

nav ul li a:hover {
    color: #7cc576;
}

.fluid_container {
    overflow: hidden;
    width: 100%;
    height: 530px;
    background: url('img/header_background.jpg') 0 0 no-repeat;
    background-size: cover;
    background-position: center;
}

.header_content {
    width: 50%;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

.header_content h1 {
    margin-bottom: 35px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.header_content p,
.services p,
.services_item p,
.services_content p,
.project_fluid_container p,
.culture .container p,
.clients .container p {
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #cccccc;
    margin-bottom: 60px;
}

.header_content button,
.services_content button {
    width: 200px;
    height: 60px;
    -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
            border-radius: 30px;
    background-color: #7cc576;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px #3ba738;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 120px;
}

.header_content button:hover,
.services_content button:hover {
    background-color: white;
    color: black;
    text-shadow: -1px 0px #b0b0b0, 1px 0px #b0b0b0;
}

/* Section Professional Services */

.services {
    text-align: center;
}

.section_title {
    margin-top: 100px;
    margin-bottom: 23px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

services p {
    margin-bottom: 80px;
}

.service_container {
    width: 100%;
}

.services_item {
    width: 27.47%;
    max-height: 330px;
    float: left;
    margin-right: 7.45%;
}

.services_item:last-child {
    margin-right: 0;
}

.services_item img {
    margin-bottom: 40px;
}

.services_item h3,
.project h3,
.culture h3 {
    margin-bottom: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-shadow: -1px -1px #767676;
}

.services_item p {
    margin-bottom: 100px;
    font-size: 14px;
    line-height: 1.5;
}

.services_fluid_container {
    width: 100%;
    overflow: hidden;
    background: url(img/sea.jpg) 142% 0% no-repeat, url(img/cog.jpg) 0 100% no-repeat;
    background-size: 81%, contain;
}

.services_content {
    width: 67.38%;
    float: right;
    text-align: left;
}

.services_content h2 {
    color: #ffffff;
    text-shadow: -1px 0 #706f70, 1px 0 #706f70;
    margin-bottom: 45px;
}

.services_content h2 span {
    color: #7cc576;
    text-shadow: none;
}

.services_content p {
    width: 50.5%;
    font-size: 16px;
    margin-bottom: 20px;
}

.services_content ul {
    width: 33%;
    color: #cccccc;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 45px;
}

.services_content ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.services_content ul li::before {
    content: '';
    background: url('img/checkmark.png');
    display: inline-block;
    width: 33px;
    height: 32px;
    margin-right: 25px;
}

.services_content button {
    width: 170px;
    margin-bottom: 100px;
}

/* Section Latest Project */
.project_fluid_container {
    background: url('img/smartphone.jpg') 116% 116% no-repeat;
    text-align: center;
}

.project .container {
    text-align: left;
}

.project .container p {
    width: 50%;
    color: #cccccc;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

.project_item {
    width: 60%;
    overflow: hidden;
    margin-bottom: 15px;
}

.project_item img {
    float: left;
    margin-right: 20px;
}

.container .project_item .project_item_title {
    width: 100%;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 0;
}

.container .project_item .project_item_content {
    width: 100%;
    color: #cccccc;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.container p.details,
.container p.details::after {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #7cc576;
    cursor: pointer;
    margin-bottom: 100px;
}

.container p.details::after {
    content: ' \2192';
    font-size: 24px;
}

.container p.details:hover,
.container p.details:hover:after {
    color: #222222;
}

/* Section Culture & Values */
.culture {
    background: #f9f9f9;
    text-align: center;
}

.values {
    width: 100%;
    overflow: hidden;
}

.values_item {
    width: 31.7%;
    position: relative;
    text-align: center;
    margin-right: 2.4%;
    float: left;
}

.values_item:last-child {
    margin-right: 0;
}

.values_item img {
    margin-bottom: 25px;
}

.values_item::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 46px;
    left: 73.6%;
    background: url(img/line.png) 0 0 no-repeat;
    width: 100%;
    height: 2px;
    color: #777777;
}

.values_item:last-child::after {
    content:"";
    background: none;
}

.values_item h3 {
    text-shadow: none;
}

.container .values_item p {
    font-size: 14px;
    color: #a0a0a0;
    line-height: 21px;
    margin-bottom: 100px;
}

/* Section Our Awesome Clients */
.clients {
    text-align: center;
}

.clients_comments {
    width: 100%;
    text-align: center;
}

.client_comment_1,
.client_comment_2 {
    overflow: hidden;
}

.client_comment_1 img {
    float: left;
    -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
            border-radius: 50%;
    width: 23.4%;
    height: 220px;
    margin-right: 30px;
}

.client_comment_2 img {
    float: right;
    -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
            border-radius: 50%;
    width: 23.4%;
    height: 220px;
    margin-left: 30px;
}

.comment_1 {
    float: right;
    width: 70%;
    text-align: center;
    background: url(img/for_comment_1.png) 0 center no-repeat;
    background-size: 100% 85%;
}

.comment_2 {
    float: left;
    width: 70%;
    text-align: center;
    background: url(img/for_comment_2.png) 0 center no-repeat;
    background-size: 100% 85%;
}

.container .clients_comments .comment {
    width: 85%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 25px;
    font-size: 22px;
}

.container .clients_comments .comment_author {
    font-size: 18px;
    color: #7cc576;
    text-shadow: -1px 0 0 #c5e2c3;
}

/* Section Ready To Talk */
.ready_fluid_container {
    width: 100%;
    background: #7cc576;
}

.ready_fluid_container .container {
    text-align: center;
    overflow: hidden;
}

.ready_fluid_container .section_title {
    color: white;
    font-size: 39px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.ready_fluid_container button {
    width: 180px;
    height: 50px;
    margin-bottom: 70px;
    border: 3px solid white;
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
            border-radius: 5px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    background: inherit;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.ready_fluid_container button:hover {
    background: white;
    color: #7cc576;
}

.trades_fluid_container {
    width: 100%;
    background: white;
}

.trades_fluid_container .trades {
    width: 58.75%;
    margin: 0 auto;
    overflow: hidden;
}

.trades_fluid_container .trades img {
    width: 16%;
    float: left;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 10%;
}

.trades_fluid_container .trades img:last-child {
    margin-right: 0;
}

/* Footer */
footer .top_footer {
    background: #222222;
    overflow: hidden;
}

.footer_container {
    width: 58.75%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer_container_item {
    width: 31%;
    float: left;
    position: relative;
    margin-right: 30px;
    color: white;
    text-align: left;
}

.footer_container_item:last-child {
    margin-right: 0;
}

.footer_container_item h3 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer_container_item img,
.footer_container_item .post_item img {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

.footer_container_item .post_item:last-child img {
    margin-right: 30px;
}

.footer_container_item address,
.footer_container_item span,
.footer_container_item span a,
.footer_container_item .post_item span {
    display: inline-block;
    font-family: "Roboto Slab", Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #ececec;
    cursor: pointer;
}

.footer_container_item span.telephone {
    position:absolute;
    top:54%;
}

.footer_container_item span.email {
    position:absolute;
    bottom: 8%;
}

.footer_container_item span.news {
    position: absolute;
    padding-top: 21px;
}

.footer_container_item .post_item span.news:hover,
.footer_container_item span.news:hover {
    color: #7cc576;
}

.footer_container_item span.hashtag {
    display: block;
    margin-left: 47px;
    padding-top: 24px;
    font-family: "Roboto Slab", Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 900;
    color: #ececec;
}

.footer_container_item span.hashtag:hover {
    color: #7cc576;
}

.footer_container_item span.time {
    font-size: 12px;
    margin-left: 47px;
    cursor: default;
}

footer .bottom_footer {
    background: white;
}

.bottom_footer .footer_container {
    margin-top: 0;
    overflow: hidden;
}

.bottom_footer .copyright {
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 12.8%;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    text-shadow: -1px 0 0 #8e8e8e;
}

.bottom_footer .twitter_icon,
.bottom_footer .facebook_icon,
.bottom_footer .pinterest_icon,
.bottom_footer .google_icon {
   display: inline-block;
   width: 41px;
   height: 41px;
   margin: 30px 15px 30px 0;
   cursor: pointer;
}

.bottom_footer .twitter_icon {
    background: url('img/twitter-icon.png') 0 0 no-repeat;
}

.bottom_footer .twitter_icon:hover {
    background: url('img/twitter-icon-hover.png') 0 0 no-repeat;
    transition-delay: 5ms;
}

.bottom_footer .facebook_icon {
    background: url('img/facebook-icon.png') 0 0 no-repeat;
}

.bottom_footer .facebook_icon:hover {
    background: url('img/facebook-icon-hover.png') 0 0 no-repeat;
    transition-delay: 5ms;
}

.bottom_footer .pinterest_icon {
    background: url('img/pinterest-icon.png') 0 0 no-repeat;
}

.bottom_footer .pinterest_icon:hover {
    background: url('img/pinterest-icon-hover.png') 0 0 no-repeat;
    transition-delay: 5ms;
}

.bottom_footer .google_icon {
    background: url('img/google-icon.png') 0 0 no-repeat;
}

.bottom_footer .google_icon:hover {
    background: url('img/google-icon-hover.png') 0 0 no-repeat;
    transition-delay: 5ms;
}