/*Шрифты*/
@font-face {
    font-family: "SourceSansProRegular";
    src: url("fonts/SourceSansProRegular/SourceSansProRegular.eot");
    src: url("fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
    url("fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SourceSansProLight";
    src: url("fonts/SourceSansProLight/SourceSansProLight.eot");
    src: url("fonts/SourceSansProLight/SourceSansProLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/SourceSansProLight/SourceSansProLight.woff") format("woff"),
    url("fonts/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SourceSansProBold";
    src: url("fonts/SourceSansProBold/SourceSansProBold.eot");
    src: url("fonts/SourceSansProBold/SourceSansProBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/SourceSansProBold/SourceSansProBold.woff") format("woff"),
    url("fonts/SourceSansProBold/SourceSansProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
    line-height: 1;
    font-size: 14px;
}

body {
    box-sizing: border-box;
    font-family: "SourceSansProRegular", Arial, sans-serif;
    color: #212121;
}

ul {
    list-style-type: none;
}

input,
textarea {
    outline:  none;
}

section {
    position: relative;
    padding: 90px 0;
}

.container {
    position: relative;
    width: 97%;
    max-width: 1170px;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    width: 97%;
    max-width: 1170px;
    transform: translateX(-50%);
    padding-top: 50px;
    overflow: hidden;
    z-index: 10;
}

.logo {
    font-family: "SourceSansProBold", Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.header-logo {
    height: 48p;
    line-height: 48px;
    float: left;
}

.header-nav {
    float: right;
    font-family: "SourceSansProBold", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.header-nav__list {
    position: relative;
    display: inline-block;
    top: -1000px;
    vertical-align: middle;
    margin-right: 12px;
    -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
            transition: 1s;
}

.header-nav__list li {
    display: inline-block;
    margin-right: 12px;
}

.header-nav__list li:last-child {
    margin-right: 0;
}

.header-nav__list li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "SourceSansProBold", Arial, sans-serif;
    font-size: 16px;
    color: #212121;
}

.header-nav__toggle {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.header-nav.active .nav-toggle__line--top {
    top: 10px;
    -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
            transition: 1s;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.header-nav.active .nav-toggle__line--middle {
    opacity: 0;
    -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
            transition: 1s;
}

.header-nav.active .nav-toggle__line--bottom {
    top: 10px;
    -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
            transition: 1s;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.header-nav.active .header-nav__list {
    top: 0;
    -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
            transition: 1s;
}

.nav-toggle__line {
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    display: block;
    background: #212121;
    cursor: pointer;
}

.nav-toggle__line--top {
    top: 5px;
    transition: 1s;
}

.nav-toggle__line--middle {
    top: 9px;
    opacity: 1;
    transition: 1s;
}

.nav-toggle__line--bottom {
    top: 14px;
    transition: 1s;
}

.top_bg {
    padding: 0;
    background: url("img/top_bg.jpg") center no-repeat;
    background-size: cover;
}

.top_bg .container {
    min-height: 920px;
}

.top-banner__info {
    position: absolute;
    right: 0;
    top: 40%;
    width: 100%;
    max-width: 570px;
    text-align: right;
    z-index: 10;
}

.top-banner__title {
    position: relative;
    display: block;
    margin-bottom: 75px;
    font-size: 72px;
    text-transform: uppercase;
    font-family: "SourceSansProBold", Arial, sans-serif;
}

.top-banner__title::after {
    content: ' ';
    position: absolute;
    right: 0;
    bottom: -30px;
    display: block;
    width: 140px;
    height: 4px;
    background-color: #000;
}

.top-banner__text {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 65px;
}

.g-btn {
    display: inline-block;
    width: 100%;
    max-width: 270px;
    height: 50px;
    line-height: 50px;
    color: #212121;
    border: 2px solid #232323;
    text-align: center;
    font-size: 18px;
    font-family: "SourceSansProBold", Arial, sans-serif;
    text-decoration: none;
}

.g-btn:hover {
    background-color: rgba(255,255,255,0.5);
}

.who-and-why .section-title,
.featured .section-title,
.clients .section-title,
.portfolio .section-title,
.team .section-title,
.facts .section-title {
    position: relative;
    display: block;
    margin-bottom: 65px;
    font-size: 27px;
    font-family: "SourceSansProBold", Arial, sans-serif;
    text-align: center;
}

.section-text__big,
.featured .section-text__big,
.portfolio .section-text__big,
.team .section-text__big {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
}

.who-and-why .section-title::before {
    content: '';
    display: block;
    margin: 0 auto 20px;
    background-image: url(img/broccoli.png);
    width: 90px;
    height: 60px;
} 

.advantages {
    text-align: center;
}

.gray-bg {
    background: #efefef;
}

.advantages-item {
    position: relative;
    padding-top: 60px;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin: 0 3% 0;
    text-align: left;
}

.advantages-icon {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    margin-bottom: 25px;
}

.advantages-title {
    display: block;
    margin-bottom: 40px;
    font-size: 18px;
    font-family: "SourceSansProBold", Arial, sans-serif;
}

.section-text__small {
    font-size: 16px;
    line-height: 26px;
}

.featured .bx-wrapper,
.clients .bx-wrapper,
.portfolio .bx-wrapper .bx-viewport,
.portfolio .bx-wrapper {
    box-shadow: none;
    left: 0;
    border: none;
    background: none;
}

.featured .bx-wrapper {
    max-width: none;
}

.featured .bx-wrapper .bx-viewport {
    height: 380px !important;
}

.clients .bx-wrapper .bx-viewport {
    height: 120px !important;
}

.featured .section-text__big {
    margin-bottom: 100px;
}

.featured-slider,
.js-featured__slider,
.js-portfolio__slider {
    height: 380px;
}

.js-clients__slider {
    height: 120px;
}

.featured-item {
    position: relative;
    width: 370px;
    height: 220px;
    margin: 0 2px;
    float: left;
    padding: 60px 60px 110px 40px;
    background: #222;
    color: #eee;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-property: color;
            transition-property: color;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
}

.featured-item::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 75px;
    height: 7px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #e64a19;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transition-property: -webkit-transform;
            transition-property: transform;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.featured-item:hover:before,
.featured-item:focus:before,
.featured:active:before {
  transform: scaleX(1);
}

.featured-item__filter {
    display: block;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.featured-item__text {
    font-size: 24px;
    line-height: 33px;
}

.featured-item__bottom {
    position: absolute;
    bottom: 50px;
    height: 60px;
    padding-left: 80px;
    padding-top: 10px;
}

.featured-item__bottom span {
    display: block;
    font-family: "SourceSansProBold", Arial, sans-serif;
}

.featured-item__name {
    margin-bottom: 10px;
    font-family: "SourceSansProBold", Arial, sans-serif;
    text-transform: uppercase;
}

.featured-item__photo {
    position: absolute;
    top: 0;
    left: 0;
}

.featured-slider,
.clients-slider,
.articles-slider {
    position: relative;
}

.featured-slider__prev,
.featured-slider__next,
.clients-slider__prev,
.clients-slider__next,
.articles-slider__prev,
.articles-slider__next {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

.featured-slider__next a,
.featured-slider__prev a,
.clients-slider__prev a,
.clients-slider__next a,
.articles-slider__prev a,
.articles-slider__next a {
    display: block;
    width: 16px;
    height: 16px;
}

.featured-slider__next a.disabled,
.featured-slider__prev a.disabled,
.clients-slider__next a.disabled,
.clients-slider__prev a.disabled {
    display: none;
}


.featured-slider__prev,
.clients-slider__prev {
    left: -5%;
}

.featured-slider__prev .bx-prev,
.clients-slider__prev .bx-prev {
    background: url('img/arrow-left.svg') 0 0 no-repeat;
    background-size: 100%;
}

.featured-slider__next,
.clients-slider__next {
    right: -5%;
}

.featured-slider__next .bx-next,
.clients-slider__next .bx-next {
    background: url('img/arrow-right.svg') 0 0 no-repeat;
    background-size: 100%;
}

.js-clients__slider li {
    padding: 0 10px;
}

.js-clients__slider li img {
    display: block;
    margin: 0 auto;
}

.js-portfolio__slider li {
    min-height: 350px;
    overflow: hidden;
}

.portfolio .section-text__big::after {
    content: '';
    display: block;
    width: 75px;
    height: 7px;
    margin: 45px auto 55px;
    background: #e64a19;
}

.portfolio-filter {
    margin-bottom: 40px;
    text-align: center;
}

.portfolio-filter li {
    cursor: pointer;
}

.portfolio-filter li:hover {
    text-decoration: underline;
}

.portfolio-filter__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    font-size: 16px;
}

.js-portfolio__slider {
    overflow: hidden;
}

.js-portfolio__slider li.mix {
    width: 400px !important;
}

.js-portfolio__slider li.mix img {
    width: 100%;
    height: 100%;
} 

.js-portfolio__slider li.mix img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.js-portfolio__slider li.mystery:hover {
    -webkit-filter: opacity(90%);
    filter: opacity(90%);
}

.portfolio-dots {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
}

.quote {
    background: #212121;
    color: #fff;
    text-align: center;
}

.quote-text {
    width: 100%;
    max-width: 840px;
    margin: 0 auto 35px;
    font-size: 20px;
    line-height: 38px;
}

.quote-text::before {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    margin: 0 auto 30px;
    background: url('img/quotation-mark.svg') 0 0 no-repeat;
    background-size: 100%; 
}

.quote-author {
    font-size: 20px;
    line-height: 38px;
    font-family: "SourceSansProLight", Arial, sans-serif;
    font-style: italic;
}

.team {
    text-align: center;
}

.team .section-text__big {
    margin-bottom: 80px;
}

.team-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 0 2%;
    padding-top: 150px;
}

.team-item span {
    display: block;
}

.team-item span::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 121px;
    height: 121px;
    /*
    Alternative way of positioning:
    left: 50%;
    transform: translateX(-50%)
    */
}

.team-item--lead {
    background: url('img/lead.png') 50% 0 no-repeat;
}

.team-item--model {
    background: url('img/model.png') 50% 0 no-repeat;
}

.team-item--master {
    background: url('img/master.png') 50% 0 no-repeat;
}

.team-item--manager {
    background: url('img/manager.png') 50% 0 no-repeat;
}

.team-name {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "SourceSansProBold", Arial, sans-serif;
    text-transform: uppercase;
}

.team-work {
    font-size: 15px;
}

.facts {
    position: relative;
    background: url('img/landscape.jpg') 0 0 no-repeat;
    background-size: cover;
    color: #fff;
}

.facts .container {
    z-index: 10;
}

.facts-item__wrap {
    position: relative;
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
    padding: 60px 50px 10px 50px;
    background-color: rgba(255,255,255,0.34);
    text-align: center;
}

.facts-item__wrap::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -37.5px;
    display: block;
    width: 75px;
    height: 4px;
    background-color: #e64a19;
}

.facts-item {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin: 0 2% 50px;
}

.facts-number {
    font-size: 27px;
    font-family: "SourceSansProBold", Arial, sans-serif;
}

.facts-number::after {
    content: '';
    display: block;
    width: 75px;
    height: 4px;
    margin: 20px auto 10px;
    background-color: #4d4c4b;
}

.facts-title {
    font-size: 24px;
}

.article-line {
    overflow: hidden;
    margin-bottom: 50px;
}

.article-line:last-child {
    margin-bottom: 0;
}

.article-item {
    overflow: hidden;
    float: left;
    position: relative;
    width: 48%;
    height: 100%;
    text-align: center;
}

.article-item:first-child {
    margin-right: 4%;
}

.article-item span {
    display: block;
}

.article-text {
    width: 95%;
    max-width: 420px;
    margin: 0 auto;
    padding-top: 80px;
}

.article-info {
    margin-bottom: 20px;
    color: #555;
}

.article-title {
    margin-bottom: 45px;
    font-size: 24px;
    line-height: 33px;
}

.article-img {
    width: 100%;
    height: 100%;
    margin: auto;
    -webkit-transition: all 0.35s;
            transition: all 0.35s;
    display: block;
    height: auto;
}

.article-item:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
    outline: none;
}

.article-item:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
}

.overlay h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 20% 0 10%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    font-weight: 700;
    letter-spacing: 1.8px;
}

.overlay p a {
    position: relative;
    color: #FFF;
    padding: 10% 0;
    opacity: 0;
    font-weight: 600;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    text-decoration: none;
    background-color: transparent;
}

.article-item:hover a,
.article-item:hover p,
.article-item:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.articles-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.articles-slider__prev {
    left: -5%;
    background: url('img/arrow-left.svg') 0 0 no-repeat;
    background-size: 100%;
}

.articles-slider__next {
    right: -5%;
    background: url('img/arrow-right.svg') 0 0 no-repeat;
    background-size: 100%;
}

.articles-slider .slick-disabled {
    opacity: 0;
}

.articles-slider__item {
    padding: 15px 30px;
    border-left: 5px solid black;
}

.articles-slider__item span {
    display: block;
}

.articles-slider__title {
    margin-bottom: 10px;
    font-family: "SourceSansProBold", Arial, sans-serif;
    font-size: 18px;
}

.articles-slider__info {
    color: #555;
}

.twitter {
    text-align: center;
}

.twitter-pic::before {
    content: '';
    display: block;
    background: url('img/twitter-icon.png') 0 0 no-repeat;
    background-size: 100%;
    width: 27px;
    height: 22px;
    margin: 0 auto 60px;
}

.twitter .quote-author {
    font-style: normal;
    font-family: "SourceSansProBold", Arial, sans-serif;
}

footer {
    background-color: #212121;
}

.footer {
    position: relative;
    width: 97%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 75px 0 40px;
    color: #999;
}

.footer a {
    color: #999;
}

.footer-logo {
    color: #fff;
    font-size: 22px;
    margin-bottom: 35px;
    font-family: "SourceSansProBold", Arial, sans-serif;
    text-transform: uppercase;
}

.footer-top {
    overflow: hidden;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #4d4c4b;
}

.footer-top__left {
    float: left;
    width: 100%;
    max-width: 450px;
}

.footer-text {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 24px;
}

.footer-form__line {
    overflow: hidden;
}

.footer-form__input {
    float: left;
    width: 45%;
    margin-right: 10%;
    margin-bottom: 20px;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #474747;
    background: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #999;
}

.footer-form__input:focus,
.footer-form__text:focus {
    border-bottom-color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:last-child {
    margin-right: 0;
}

.footer-form__text {
    width: 100%;
    height: 35px;
    padding-bottom: 8px;
    margin-bottom: 70px;
    border: none;
    border-bottom: 1px solid #474747;
    background: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #999;
}

.footer-form__btn {
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

.footer-form__btn input {
    border: none;
    background: none;
    color: #999;
    text-transform: uppercase;
}

.footer-form__btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.footer-form__btn::after {
    content: '';
    position: absolute;
    right: 0;
    top: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 6px;
    border-color: transparent transparent transparent #999;
}

.footer-form__btn {
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

.footer-top__right {
    float: right;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}

.footer-form__menu {
    float: left;
    width: 30%;
    margin-right: 5%;
}

.footer-form__menu:last-child {
    margin-right: 0;
}

.footer-nav__title {
    display: block;
    text-transform: uppercase;
    margin-bottom: 35px;
    color: #fff;
    font-size: 15px;
}

.footer-nav__list {
    padding-left: 0;
}

.footer-nav__list li {
    margin-bottom: 15px;
}

.footer-nav__list li a {
    text-decoration: none;
}

.footer-nav__list li a:hover {
    color: #e64a19;
}

.footer-bottom {
    overflow: hidden;
}

.footer-disclaimer {
  float: left;
}

.footer-disclaimer span {
    display: block;
    margin-bottom: 10px;
}

.footer-info-menu {
    float: right;
}

.footer-info-menu__list li {
    display: inline-block;
    vertical-align: top;
    margin-left: 35px;
}

.footer-info-menu__list li:first-child {
    margin-left: 0;
}

.footer-info-menu__list li a {
    text-transform: uppercase;
    text-decoration: none;
}

.footer-info-menu__list li a:hover {
    text-decoration: underline;
    color: #e64a19;
}

@media screen and (max-width: 1330px) {
    .featured .featured-slider__prev,
    .featured .featured-slider__next,
    .clients .clients-slider__prev,
    .clients .clients-slider__next,
    .articles-slider .articles-slider__prev,
    .articles-slider .articles-slider__next {
        width: 16px;
        top: auto;
        bottom: -50px;
        margin: 0;
    }

    .featured-slider__prev,
    .clients-slider__prev,
    .articles-slider__prev {
        left: 40%;
    }

    .featured-slider__next,
    .clients-slider__next,
    .articles-slider__next {
        right: 40%;
    }

}

@media screen and (max-width: 1150px) {
    .footer-top__right {
        max-width: 450px;
    }
}

@media screen and (max-width: 1000px) {
    .article-item {
        padding-top: 30px;
    }

    .facts-item__wrap {
        margin: 0 auto;
        padding: 20px 0 0 0;
    }
}

@media screen and (max-width: 950px) {
    .footer-top__left,
    .footer-top__right {
        float: none;
        max-width: 100%;
    }

    .footer-top__left {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .team-item {
        width: 40%;
        margin-bottom: 50px;
    }

    .article-item {
        float: none;
        width: 100%;
        margin: 0;
    }

    .article-item:first-child {
        margin-right: 0;
    }

    .article-img {
        display: none;
    }
    
}

@media screen and (max-width: 700px) {
    .advantages-item {
        width: 40%;
        margin-bottom: 50px;
    }

    .featured .section-text__big,
    .clients .section-text__big,
    .articles-slider .section-text__big{
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 600px) {
    .top_bg .container {
        min-height: 550px;
    }

    .top-banner__info {
        top: 20%;
        text-align: center;
    }

    .top-banner__title {
        font-size: 50px;
    } 

    .top-banner__title::after {
        right: 50%;
        margin-right: -70px;
    }

    .top-banner__text {
        font-size: 16px;
        line-height: 20px;
    }

    .section-text__big,
    .featured .section-text__big,
    .portfolio .section-text__big,
    .team .section-text__big {
        line-height: 20px;
    }

    section {
        padding: 50px 0;
    }

    .featured .featured-slider__prev,
    .featured .featured-slider__next,
    .articles-slider .articles-slider__prev,
    .articles-slider .articles-slider__next {
        bottom: -30px;
    }
}

@media screen and (max-width: 500px) {
    .advantages-item {
        width: 90%;
        margin: 0 auto 50px;
        padding-top: 0;
        text-align: center;
    }

    .advantages-icon {
        position: static;
        display: inline-block;
    }

    .team-item {
        width: 80%;
        padding-top: 130px;
        margin: 0 auto 60px;
    }

    .facts-item__wrap {
        padding: 60px 10px 20px;
    }
}

@media screen and (max-width: 450px) {
    .header {
        text-align: center;
    }

    .header-logo {
        float: none;
    }

    .header-nav {
        position: absolute;
        top: 10px;
        text-align: center;
    }

    .top-banner__title {
        font-size: 15px;
    }

    .portfolio-filter li {
        margin: 0 5px;
    }

    .facts-item {
        width: 80%;
        margin: 0 auto 30px;
    }

    .footer {
        padding-top: 30px;
        text-align: center;
    }

    .footer-info-menu,
    .footer-disclaimer {
        float: none;
    }

    .footer-disclaimer {
        margin-bottom: 15px;
    }

    .footer-info-menu__list {
        text-align: center;
        margin-left: 0;
        padding-left: 0;
    }
}